@font-face {font-family: 'champ'; src: url('assets/font/champ.ttf') format('ttf'),}
@-webkit-keyframes rotation {from{-webkit-transform: rotate(0deg);}to{-webkit-transform: rotate(360deg);}}

@-webkit-keyframes animateCloud {0% {margin-left: -230px;}100% {margin-left: 83.5%;}}
@-webkit-keyframes animateCloud2 {0% {margin-left: 84%;}100% {margin-right: 93%;}}

@-moz-keyframes animateCloud {0% {margin-left: -230px;}100% {margin-left: 83.5%;}}
@-moz-keyframes animateCloud2 {0% {margin-left: 84%;}100% {margin-right: 93%;}}

@keyframes animateCloud {0% {margin-left: -230px;}100% {margin-left: 83.5%;}}
@keyframes animateCloud2 {0% {margin-left: 84%;}100% {margin-right: 93%;}}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #000000 url('../assets/img/background.jpg');
	background-size:cover;
	background-attachment: fixed;
	background-repeat:no-repeat;	
	margin: -1.5% 0%;
	width:100%;
	height:100%;
	font-size:1.1vw;
}
a{
	 text-decoration:none;
	 color:inherit;
}
.robots{
	width:8vw;
	position:absolute;
	margin-left:15%;
	margin-top:26%;
	z-index:-3;
}
.l_techno{
	width:50%;
	position:absolute;
	margin-top:3%;
	margin-left:25%;
}
.cloud2 {
	-webkit-animation: animateCloud2 120s linear infinite;
	-moz-animation: animateCloud2 120s linear infinite;
	animation: animateCloud2 120s linear infinite;
	-webkit-transform: scale(0.45);
	-moz-transform: scale(0.45);
	transform: scale(0.45);
	z-index:-3;
	margin-top:2%;
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	height: 120px;
	position: absolute;
	width: 350px;
}
.cloud2:after, .cloud2:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}
.cloud2:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}
.cloud2:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

.cloud {
	-webkit-animation: animateCloud 90s linear infinite;
	-moz-animation: animateCloud 90s linear infinite;
	animation: animateCloud 90s linear infinite;
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
	z-index:-3;
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	height: 120px;
	position: absolute;
	width: 350px;
}
.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}
.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}
.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}
#anime_background {
	margin-top:-10%;
    background: url('../assets/img/foreground.png') repeat 80% 100%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -3;
}
.clear{
	clear:both;
}
.navbar{
	position:fixed;
	font-size: 2vw;
	width: 100%;
   	 margin: 0 auto;
	background:#FFF url("../assets/img/login_background.jpg") ;
	background-size:40%;
	background-position:10%;
	-moz-box-shadow: 0px 0px 10px 0px #BA0D2A;
	-webkit-box-shadow: 0px 0px 10px 0px  #BA0D2A;
	-o-box-shadow: 0px 0px 10px 0px  #BA0D2A;
	box-shadow: 0px 0px 10px 0px  #BA0D2A;
	border-bottom: inset 1px  #BA0D2A;
	z-index:2000;
}
.navbar .page{
	margin-left:6.5%;
}
.navbar .logo{
	position:absolute;
	width:10.5%;
	margin-left:-3.5%;
	margin-top:-3%;
	-webkit-animation: rotation 20s linear infinite;
}
.navbar .lapro{
	width:10.2%;
	float:right;
	border-left:solid 1px #BA0D2A;
}
.navbar .link {
	display:block;
	color:white;
	text-align:center;
	font-size:1.3vw;
	float:left;
	padding: 1.5% 2.5%;
	width:8%;
	opacity:0.9;
	border-right:solid 1px #000;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.navbar .link:hover{
	filter: saturate(250%);
    -webkit-filter: saturate(250%);
    -moz-filter: saturate(250%);
    -o-filter: saturate(250%);
    -ms-filter: saturate(250%);
}
.navbar .active{
	display:block;
	color:white;
	float:left;
	padding: 1.5% 2.5%;
	font-size:1.3vw;
	text-align:center;
	width:8%;
	opacity:0.9;
	border-right:solid 1px #000;
	filter: saturate(500%);
    -webkit-filter: saturate(200%);
    -moz-filter: saturate(200%);
    -o-filter: saturate(200%);
    -ms-filter: saturate(200%);
}
.navbar .contact{
	float:right;
	margin-right:7%;
	margin-top:0.8%;
	border:solid 2px #fff;
	padding:0.8%;
	background-color:#2780d8;
	color:#fff;
}
.navbar .contact:hover{
	background-color:#68a6e4;
	transform:scale(0.9);
	cursor:pointer;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#home{
	position:absolute;
	margin:6% auto;
	margin-bottom:0%;
	width:100%;
	color:#fff;
}
#home .appartement{
	position:absolute;
	margin-left:10%;
	z-index:-3;
}
#home .appartement img{
	width:14vw;
}
#home .presentation{
	width:75%;
	margin:10% auto;
	margin-bottom:0%;
	color:black;
}
#home .menu{
	background-color:rgba(18,42,57,0.9);
	border-top:inset 2px #BA0D2A;
	border-left:inset 2px #BA0D2A;
	border-bottom:inset 2px #BA0D2A;
	float:left;
	width:18%;
	padding:1%;
}
#home .menu span{
	display:block;
	padding:2%;
	width:93%;
	border:inset 2px #6a54b0;
	background-color:#4a94c5;	
	color:white;
	text-align:center;
}
#home .menu img{
	width:75%;
}
#home .panel h3{
	margin-top:1%;
	border-bottom:solid 1px #fff;
	color:#fff;
}
#home .panel{
	margin:0 20.15%;
	padding:1%;
	width:75%;
	border-top:inset 2px #BA0D2A;
	border-right:inset 2px #BA0D2A;
	border-bottom:inset 2px #BA0D2A;
	border-left:inset 2px #BA0D2A;
	background-color:rgba(18,42,57,0.9);
}
#home .panel .news{
	border:inset 2px #fff;
	width:45%;
	float:left;
	margin-right:2%;
	padding:1%;
	background-color:rgba(18,42,57,1);
	color:#fff;
	margin-bottom:3%;
}
#home .panel .news h4{
	margin:1%;
	border-bottom:outset 2px #fff;
	
}
#home .panel .stat{
	overflow:auto;
	height:60px;
	border:inset 2px #fff;
	width:92.5%;
	float:left;
	margin-right:2%;
	padding:0.5%;
	background-color:rgba(18,42,57,1);
	color:#fff;
	margin-bottom:2%;
}
#home .select{
	width:75%;
	margin:2% auto;
	color:black;
}

.block_one{
	width:32%;
	float:left;
	margin-left:0.8%;
	margin-bottom:1%;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#home .select .block_one:hover{
	transform:scale(1.02);
	-moz-box-shadow: 0px 0px 10px 0px #FFF;
	-webkit-box-shadow: 0px 0px 10px 0px  #fff;
	-o-box-shadow: 0px 0px 10px 0px  #fff;
	box-shadow: 0px 0px 10px 0px  #fff;
	filter: saturate(200%);
    -webkit-filter: saturate(200%);
    -moz-filter: saturate(200%);
    -o-filter: saturate(200%);
    -ms-filter: saturate(200%);
}
#home .select .block_one img{
	width:50%;
	height:auto;
}
#home .select .block_one .button{
	background-color: rgba(0, 0, 0, 0.5);
	text-align:center;
	float:left;
	display:block;
	width:98%;
	padding:1%;
	color:white;
}
#home .select .block_one .classe{
	float:right;
	padding:10%;
	color:white;
	font-weight:800;
}
#home .select .block_two{
	width:32%;
	float:left;
	margin-left:0.8%;
	margin-bottom:1%;
}
#home .select .block_two:hover{
	transform:scale(1.02);
	-moz-box-shadow: 0px 0px 10px 0px #FFF;
	-webkit-box-shadow: 0px 0px 10px 0px  #fff;
	-o-box-shadow: 0px 0px 10px 0px  #fff;
	box-shadow: 0px 0px 10px 0px  #fff;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s;
    transition-duration: 0.5s;
	filter: saturate(200%);
    -webkit-filter: saturate(200%);
    -moz-filter: saturate(200%);
    -o-filter: saturate(200%);
    -ms-filter: saturate(200%);	
}
#home .select .block_two img{
	width:48%;	
	padding:2.5%;
}
#home .select .block_two .button{
	background-color: rgba(0, 0, 0, 0.5);
}
#home .select .block_two 	.button span{
	background-color: rgba(0, 0, 0, 0.5);
	text-align:center;
	float:left;
	display:block;
	width:98%;
	padding:1%;
	color:white;
}
#home .select .block_two .button span:hover{
	background-color: rgba(0, 0, 0, 0.8);
	cursor:pointer;
}
#footer{
	color:#fff;
	padding-top:1%;
	background:rgba(18,42,57,1);
	background-size:40%;
	background-position:10%;
	bottom:0;
	width:100%;
	-moz-box-shadow: 0px 0px 10px 0px #BA0D2A;
	-webkit-box-shadow: 0px 0px 10px 0px  #BA0D2A;
	-o-box-shadow: 0px 0px 10px 0px  #BA0D2A;
	box-shadow: 0px 0px 10px 0px  #BA0D2A;
	border-top: inset 1px  #BA0D2A;
}
#footer .link{
	margin-left:4%;
}
#footer .dev{
	float:right;
	margin-right:28%;
	margin-top:-3%;
	font-size:0.9vw;
	width:31%;
	text-align:center
}
#footer img{
	float:right;
	width:10%;
	border: inset 1px  #BA0D2A;
	margin-right:2%;
	margin-bottom:1%;
}
#page{
	position:absolute;
	margin: auto;
	margin-top:6%;	
	width:100%;
}
#page .slide{
	background-color: rgba(0, 0, 0, 0.7);
	padding:1%;
	margin:0% auto;
	width:75%;
	text-align:center;
}
#page .slide .sub{
	color:#fff;
	font-weight:bold;
	text-align:left;
}
#page .slide h3{
	text-align:left;
	border-bottom:inset 2px #fff;
	color:#fff;
}
.item{
	background-color:#4a94c5;
	border:inset 1px #BA0D2A;
	padding:20%;
	font-size:0.6vw;
	color: #FFF;
	margin:1%;
}
.item:hover{
	cursor:pointer;
	filter: saturate(300%);
    -webkit-filter: saturate(300%);
    -moz-filter: saturate(300%);
    -o-filter: saturate(300%);
    -ms-filter: saturate(300%);	
}
#page .intro{
	margin:1% auto;
	width:77%;
}
#page .intro img{
	width:10%;
}
#page .intro .text{
	margin-left:11%;
	margin-top:-8%;
	background-color:rgba(18,42,57,0.7);
	padding: 1%;
	color:#fff;
	border:inset 2px #BA0D2A;
}
#page .p_cours{
	margin:1%;
	margin-top:3.5%;
	width:55%;
	background-color:rgba(18,42,57,0.9);
	border:inset 2px #BA0D2A;
	margin-left:11.4%;
	height:100%;
}
#page .download{
	background-color:rgba(18,42,57,0.9);
	border:inset 2px #BA0D2A;
	width:21%;
	float:right;
	margin-top:2.5%;
	margin-right:11.3%;
}
#page .download h3{
	color:#fff;
	text-align:center;
}
#page .download h4{
	margin-top:0%;
	margin-left:4%;
	color:#fff;
	border-bottom:solid 1px #fff;
	width:40%;
}
#page .download .ressource{
	float:left;
	color:#fff;
	text-align:center;
	width:18%;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s;
    transition-duration: 0.5s;
	margin-left:10%;
}
#page .download .none{
	color:#fff;
	margin:4%;

}
#page .download .ressource img{
	margin-left:10px;
	width:100%;
}
#page .download .ressource:hover{
	transform:scale(0.98);
	cursor:pointer;
	color:#4a94c5;
}
#page .p_cours .cours{
	width:80%;
}
#page .p_cours .lecon{
	float:left;
	padding:2%;
	text-align:center;
	margin:1%;
	color:#fff;
	background-color:#4a94c5;
	border:inset 1px #BA0D2A;
	width:43.5%;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#page .p_cours .lecon:hover{
	filter: saturate(500%);
	transform:scale(0.9);
    -webkit-filter: saturate(200%);
    -moz-filter: saturate(200%);
    -o-filter: saturate(200%);
    -ms-filter: saturate(200%);
}
#active{
	filter: saturate(500%);
	transform:scale(0.9);
    -webkit-filter: saturate(200%);
    -moz-filter: saturate(200%);
    -o-filter: saturate(200%);
    -ms-filter: saturate(200%);
}
#page .p_logiciel{
	background-color:rgba(0,0,0,0.6);
	width:55%;
	margin:0 auto;
	padding:1%;
	border:inset 1px #BA0D2A;
}
#page .p_logiciel h3{
	border-bottom:solid 1px #fff;
	color:#fff;
}
#page .p_logiciel .logiciel{
	border:inset 1px #BA0D2A;
	background-color:rgba(0,0,0,0.6);
	color:#ffffff;
	padding:1%;
	font-size:16px;
	margin-bottom:1%;
}
#page .p_logiciel .logiciel h3
{
	border-bottom:solid 1px #fff;
}
#page .p_logiciel .logiciel img{
	width:10%;
	margin-right:1%;
	float:left;
}
#page .p_logiciel .logiciel .button-dl{
	background-color:#BA0D2A;
	padding:1%;
	margin-top:8%;
	border-radius:5px;
	border:solid 1px #ffffff;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#page .p_logiciel .logiciel .button-dl:hover{
	background-color:#ffffff;
	border:solid 1px #BA0D2A;
	color:#BA0D2A;
}
#page .mention{
	color:#fff;
	background-color:rgba(0,0,0,0.6);
	width:55%;
	margin:0 auto;
	padding:1%;
	border:inset 1px #BA0D2A;
}
#page .mention h3{
	border-bottom:solid 1px #fff;
	color:#fff;
}
#page .mention h4{
	border-bottom:solid 1px #fff;
	width:30%;
	color:#fff;
}
#page .mention img{
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s;
    transition-duration: 0.5s;
	margin-top:1%;
	border:inset 1px #BA0D2A;
	width:25%;
}
#page .mention img:hover{
	transform:scale(0.9);
	cursor:pointer;
}
#projet{
	background-color:rgba(0,0,0,0.6);
	width:75%;
	margin:0 auto;
	color:#fff;
	padding:1%;
	border:inset 1px #BA0D2A;
}
#projet h3{
	border-bottom:solid 1px #fff;
}
#projet a{
	color:#d8d800;
	font-weight:bold;
}
#projet .voiture{
	float:left;
	width:10%;
	border-radius:50%;
	border:solid 2px #ABC546;
}